# Altium ----------------------------------------

Muladhara_PCB/Project*/*
Muladhara_PCB/History/*
Muladhara_PCB/__Previews/*
Muladhara_PCB/*.htm

# PSOC Creator ----------------------------------------

# ignore PSoC Creator workspaces
*.cywrk

# folders generated after build (any PSoC series)

Muladhara*/Generated_Source/*
Muladhara*/Cortex*/*
Muladhara*/codegentemp/*
Muladhara*/Export/*

# Ignore files generated after project build

*.cycdx
*.cyfit
*.rpt
*.log

# Ignoring OneDrive version of project file

*cyprj.*
*cywrk.*
 